Repository informatics-isi-edu/chaise, pull requests merged in 2018-11, with the labels that each got.

#1672 Loading text/spinner in ToC
  common/styles/app.css
  record/index.html.in
  record/record.controller.js
Labels: record

#1683 Recordedit remove form (edit mode)
  common/styles/app.css
  recordedit/form.controller.js
  recordedit/index.html.in
  test/e2e/specs/default-config/recordedit/multi-edit.conf.js
  test/e2e/specs/default-config/recordedit/remove-edit-form.spec.js
  test/e2e/utils/chaise.page.js
Labels: recordedit

#1678 Selective null
  common/faceting.js
  common/modal.js
  common/templates/recordsetSelectFaceting.html
  test/e2e/data_setup/data/faceting/f5.json
  test/e2e/data_setup/data/faceting/main_f5.json
  test/e2e/data_setup/schema/recordset/faceting.json
  test/e2e/specs/delete-prohibited/recordset/ind-facet.spec.js
  test/e2e/specs/delete-prohibited/recordset/misc-facet.spec.js
  test/e2e/utils/recordset-helpers.js
Labels: enhancement
