Repository informatics-isi-edu/chaise, pull requests merged in 2024-07, with the labels that each got.

#2484 Misc facet playwright
  .github/workflows/e2e.yml
  Makefile
  src/components/recordset/recordset.tsx
  src/custom.d.ts
  test/e2e/data_setup/config/parallel-configs/delete-prohibited.dev.json
  test/e2e/data_setup/config/recordset/facet.config.json
  test/e2e/data_setup/config/recordset/facet.dev.json
  test/e2e/locators/recordedit.ts
  test/e2e/locators/recordset.ts
  test/e2e/specs/delete-prohibited/protractor.conf.js
  test/e2e/specs/delete-prohibited/recordset/facet-presentation.spec.ts
  test/e2e/specs/delete-prohibited/recordset/facet.config.ts
  test/e2e/specs/delete-prohibited/recordset/histogram-facet.spec.ts
  test/e2e/specs/delete-prohibited/recordset/ind-facet.conf.js
  test/e2e/specs/delete-prohibited/recordset/individual-facet.spec.ts
  test/e2e/specs/delete-prohibited/recordset/misc-facet.spec.js
  test/e2e/specs/delete-prohibited/recordset/misc-facet.spec.ts
  test/e2e/utils/chaise.page.js
  test/e2e/utils/recordset-utils.ts
Labels: refactor, e2e Test

#2489 migrate create, edit, and delete btn specs to playwright
  Makefile
  test/e2e/locators/recordset.ts
  test/e2e/specs/all-features-confirmation/record/create-btn.spec.js
  test/e2e/specs/all-features-confirmation/record/create-btn.spec.ts
  test/e2e/specs/all-features-confirmation/record/delete-btn.spec.js
  test/e2e/specs/all-features-confirmation/record/delete-btn.spec.ts
  test/e2e/specs/all-features-confirmation/record/edit-btn.spec.js
  test/e2e/specs/all-features-confirmation/record/edit-btn.spec.ts
  test/e2e/specs/all-features-confirmation/record/presentation-btn.conf.js
  test/e2e/specs/all-features-confirmation/record/presentation-btn.config.ts
  test/e2e/utils/record-utils.ts
Labels: e2e Test

#2491 Properly handle array inputs in iframe-field-modal
  src/components/modals/iframe-field-modal.tsx
  test/e2e/data_setup/schema/recordedit/input-iframe.json
  test/e2e/specs/all-features/recordedit/input-iframe.spec.ts
  test/e2e/utils/input-iframe-test.html
Labels: bug
